*.suo
*.vssscc
*.scc
*.user
/*/Bin/*
/*/obj/*
/*/*.suo
/*/*.vssscc
/*/*.scc
/*/*.user
/*/Dotfuscated/*
/*/PerfLogs/*
/Tup.WebSocketTest/PerformanceLogs/*
/Tup.WebSocketTest/SubmissionInfo/*
/Tup.WebSocketTest/Release/*
/Tup.WebSocketTest/Debug/*

/UpgradeLog.*
/_UpgradeReport_Files/*.*
/Tup.WebSocketTest/test_qmap/*
